<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8">
      <title>Genlab docs</title>
   </head>
   <body>
{% for project in diplodoc_projects %}
       <a href="./{{ project.href }}/index.html">{{ project.name }}</a>
{% endfor %}
   </body>
</html>
